apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: firefly

resources:
  - ../../base

patches:
  - target:
      kind: PersistentVolumeClaim
      name: firefly-upload-pvc
    patch: |-
      - op: add
        path: /spec/storageClassName
        value: longhorn

  - target:
      kind: StatefulSet
      name: mariadb
    patch: |-
      - op: add
        path: /spec/volumeClaimTemplates/0/spec/storageClassName
        value: longhorn
